.header {
  @include flex(stretch, space-between);
  background-color: $header-color;
  height: 45px;
  min-width: 100%;
  padding: 0 20px;
  opacity: 0.8;
  position: fixed;
  top: 0;
  transition: background-color;
  .logo {
    @include flex(center, center);
    width: 45px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .function {
    width: 80%;
    @include flex(stretch, flex-end);
    .function__item {
      width: 5%;
      font-size: 25px;
      @include flex(center, center);
    }
    .function__item-icon{
        color: $txt-second-color;
        transition:all 0.3s;
    }
    .function__item-icon:hover{
        color: $txt-white;
    }
  }
}
